@model AFRI_AusCare.DataModels.ContactFormViewModel

<!-- breadcam_area_start -->
<!-- breadcam_area_start -->
<div class="breadcam_area bradcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcam_text">
                    <h3>Contact</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding-top:40px">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" asp-action="Contact" method="post">
                            <div class="breadcam_text">
                                <h3>Get In Touch</h3>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" asp-for="Message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Name"></textarea>
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" asp-for="Name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" asp-for="Email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" asp-for="Subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                        <span asp-validation-for="Subject" class=" text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1" style="padding-top:20px">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3><span>562 – 564 Springvale Road</span></h3>
                                <p>Springvale South, VIC, 3172</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3><span>+61 433 526 553</span></h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3><span>info@afri-auscare.org</span></h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- ================ contact section start ================= -->
<!-- ================ contact section end ================= -->