@model AFRI_AusCare.Models.AdminSetting
@{
    ViewData["Title"] = "Home Page";
}

<div class="slider_area slider_bg_1 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_slider">
                    <div class="slider_text">
                        <h3>
                            AFRI-AUSCARE
                        </h3>
                        <p> We Are A Non For Profit Community Organization Engaging With <br>  The Community  Through The Positive Change Model & Ubuntu.</p>
                        <a href="#" class="boxed-btn2 donateNowBtn">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servce_area">
    <div class="container">
        <div class="col-xl-12 col-md-12">
            <div class="section_title text-center">
                <h3 style="font-weight:600;">AFRI-AUS CARE</h3>
                <p class="text-center" style="line-height: 40px;font-size: 17px; letter-spacing:2px;font-weight: 500;">
                    We work to address mental health taboos within African and other Culturally and Linguistically Diverse (CALD) communities. We provide assistance and support to individuals through primary mental health intervention and intensive support programs and
                    by counselling clients’ families. Involvement in these programs enables individuals to better integrate into Australian society.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="servce_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home">
                    <div class="card-body">
                        <h5 class="card-title">OUR VISION</h5>
                        <p class="card-text">
                            We are building a future where services will acknowledge and are sensitive to African and culturally and linguistically
                            diverse (CALD) people´s perception of mental health. By recognizing cultural differences, we aim to increase social
                            participation and decrease isolation within the South East Melbourne region.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home">
                    <div class="card-body">
                        <h5 class="card-title">OUR MISSION</h5>
                        <p class="card-text">Improving the mental health of migrant youth at risk and their families by building bridges with mainstream services.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home">
                    <div class="card-body">
                        <h5 class="card-title">WHO WE ARE</h5>
                        <p class="card-text">
                            Afri-Aus Care is a not for profit community service organisation run by a group of qualified professionals,
                            many from migrant backgrounds. The organisation was founded by Selba Gondoza-Luka, who experienced hardship
                            after arriving in Australia and made it her mission to help those experiencing similar difficulties.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servce_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <span>We Work For People</span>
                    <h3>
                        We Serve To Those Who Are In Need
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-meat"></i>
                    </div>
                    <h3>Pure Food & Water</h3>
                    <p>
                        Millions Of People Die Due To Unhigenic Food. So We Care About It And Provide Healthy & Clean Food For
                        The Needy People So They Can Gow Mentaly & Physicaaly
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-medicine"></i>
                    </div>
                    <h3>Medicine</h3>
                    <p>
                        From The Help Of Our Partners We Provide Medications For Those Who Are In Need Of It As Medical Costs
                        Are Too Much & People Cannot Afford Them. So We Are Here For Their Help
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-open-magazine"></i>
                    </div>
                    <h3>Education</h3>
                    <p>
                        We Provide Chance To Those Who Wants To Study, Even We Try Our Best For Their Placment Into The Universities So
                        That They Can Help Others As They Were Helped.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servce_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <h3>
                        PROGRAMS & SERVICES
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home" style="min-height:650px;">
                    <div class="card-body">
                        <h5 class="card-title">COMMUNITY PROGRAMS</h5>
                        <hr style="border: 2px solid white;">
                        <p class="card-text">
                            We work to address mental health taboos within African and other Culturally and Linguistically Diverse (CALD) communities. We provide assistance and support to individuals through primary mental health intervention and intensive support programs and
                            by counselling clients’ families
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home" style="min-height:650px;">
                    <div class="card-body">
                        <h5 class="card-title">NDIS</h5>
                        <hr style="border: 2px solid white;">
                        <p class="card-text">
                            The NDIS is a new way of providing individualised support for people with disability, their families and carers. The NDIS will provide all Australians with a permanent and significant disability, aged under 65, with the reasonable and necessary supports they need to live an ordinary life.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card h-100 cards-home" style="min-height:650px;">
                    <div class="card-body">
                        <h5 class="card-title">PROJECTS & PARTNERSHIP</h5>
                        <hr style="border: 2px solid white;">
                        <p class="card-text">Many clients come to Afri-Aus Care (AAC) with unresolved trauma. This trauma may have occurred in their country of origin and/or after settling here in Australia. Because of the stigma that mental illness attracts amongst many African and other CALD communities, it may remain undiagnosed and untreated. AAC works to remove these barriers and improve personal wellbeing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="donateNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#380605">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Donations</h5>
                <button type="button" class="closeDonateNowModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background:#590c0a">
                <div class="text-center">
                    <h2 style="color:white">Bank Details for Donations</h2>
                    <p style="color:white"><strong>Bank Name:</strong> @Model.BankName</p>
                    <p style="color:white"><strong>Account BSB:</strong> @Model.AccountBSB</p>
                    <p style="color:white"><strong>Account Number:</strong> @Model.AccountNumber</p>
                    <p style="color:white"><strong>ABN:</strong> @Model.BankABN</p>
                    <div class="donate_now">
                        <a href="https://www.paypal.com/donate/?hosted_button_id=RNT6QMY6D4GAU" class="boxed-btn" id="paypal-button-container">Donate Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>