@model AFRI_AusCare.Models.AdminSetting
@{
    ViewData["Title"] = "Home Page";
}

<!-- slider_area_start -->
<div class="slider_area slider_bg_1 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_slider">
                    <div class="slider_text">
                        <h3>AfriAusCare</h3>
                        <p> We Are A Non For Profit Community Organization Engaging With The <br> Community  Through The Positive Change Model & Ubuntu.</p>
                        <a href="#" class="boxed-btn2 donateNowBtn">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- causes_area_start -->
<div class="causes_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="causes_info">
                    <div class="section_title">

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-md-12">
                                    <div class="about_thumb">
                                        <div class="section_title">
                                            <h3>OUR VISION</h3>
                                            <span class="text-justify">

                                                We are building a future where services will acknowledge and are sensitive to
                                                African and culturally and linguistically diverse (CALD) people´s perception of mental
                                                health. By recognizing cultural differences, we aim to increase social participation and decrease
                                                isolation within the South East Melbourne region.
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container mt-5">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-md-12">
                                    <div class="about_thumb">
                                        <div class="section_title">


                                            <h3>Who We ARE</h3>
                                            <span class="text-justify">
                                                Afri-Aus Care is a not for profit community service organisation run by a group of qualified professionals, many from migrant backgrounds. The organisation was founded by Selba Gondoza-Luka, who experienced hardship after arriving in Australia and made it her mission to help those experiencing similar difficulties.
                                            </span>
                                        </div>
                                        <a href="#" class="boxed_btn3">Learn More</a>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="causes_thumb">
                    <img class="img-fluid" src="~/Events/IMG_0562-rotated.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- causes_area_end -->
<!-- about_area_start -->
<div class="about_area gray-bg ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-md-12">
                <div class="about_thumb">
                    <div class="section_title">
                        <h3>ABOUT US</h3>
                        <span class="text-justify">
                            Afri-Aus Care Inc. provides Culturally Appropriate Mental Health assessment and a variety of support services to African
                            Australian youth-at-risk, their families and those from other CALD backgrounds. We use UBUNTU guidelines and the Positive
                            Change Model as the foundations of assisting people to live meaningful lives. Participants are then further referred to
                            appropriate Health professionals and other Stakeholders for achievable outcomes. We use Culturally Appropriate programs
                            in all our projects, as a result, our organisation has been able to reach out to community members at the grassroots level.
                            We also work in collaboration with private and public Stakeholders, for example, various government bodies, Rotary clubs,
                            and educational institutions to reach our strategic goals. We offer intensive biopsychosocial and wellbeing risk assessment
                            such as counselling, legal/court/post-release community support, alternative education and employment pathways as well as
                            further referrals to appropriate health care providers and other organisations. Afri-Aus Care provides placement opportunities
                            for tertiary students from various educational institutions in Victoria, including RMIT, Monash University, Chisholm, Holmesglen,
                            Swinburne University of Technology, Stott’s College, Victoria University, etc. Afri-Aus Care also works with the University of
                            Melbourne, the Swinburne University of Technology and Psyche Foundation on a number of research and evaluation projects.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- about_area_end -->
<!-- servce_area_start -->
<div class="servce_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <span>We Work For People</span>
                    <h3>
                        We Serve To Those Who Are In Need
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-meat"></i>
                    </div>
                    <h3>Pure Food & Water</h3>
                    <p>
                        Millions Of People Die Due To Unhigenic Food. So We Care About It And Provide Healthy & Clean Food For
                        The Needy People So They Can Gow Mentaly & Physicaaly
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-medicine"></i>
                    </div>
                    <h3>Medicine</h3>
                    <p>
                        From The Help Of Our Partners We Provide Medications For Those Who Are In Need Of It As Medical Costs
                        Are Too Much & People Cannot Afford Them. So We Are Here For Their Help
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_serve text-center">
                    <div class="serve_icon">
                        <i class="flaticon-open-magazine"></i>
                    </div>
                    <h3>Education</h3>
                    <p>
                        We Provide Chance To Those Who Wants To Study, Even We Try Our Best For Their Placment Into The Universities So
                        That They Can Help Others As They Were Helped.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- servce_area_end -->
<div class="modal" id="donateNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#380605">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Donations</h5>
                <button type="button" class="closeDonateNowModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background:#590c0a">
                <div class="text-center">
                    <h2 style="color:white">Bank Details for Donations</h2>
                    <p style="color:white"><strong>Bank Name:</strong> @Model.BankName</p>
                    <p style="color:white"><strong>Account BSB:</strong> @Model.AccountBSB</p>
                    <p style="color:white"><strong>Account Number:</strong> @Model.AccountNumber</p>
                    <p style="color:white"><strong>ABN:</strong> @Model.BankABN</p>
                    <div class="donate_now">
                        <a href="https://www.paypal.com/donate/?hosted_button_id=RNT6QMY6D4GAU" class="boxed-btn" id="paypal-button-container">Donate Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>