@model AFRI_AusCare.Models.Album
@{
    ViewData["Title"] = "View Album";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
        <form easp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Add Images</label>
                <input type="file" name="images" multiple onchange="handleFileSelect(event, false)" />
            </div>

            <div class="row mt-3" id="albumImagesShow">
                @foreach (var gallery in Model.Galleries)
                {
                    <img src="@gallery.ImageUrl" class="img-thumbnail" alt="Gallery Image" style="max-width:200px; max-height:200px; margin-right:10px;" />
                }
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>