html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.image-size {
    width: 300px;
    height: 400px;
}

.img-key-member {
    vertical-align: middle;
    border-style: none;
    width: 250px !important;
    height: 300px !important;
    margin-top: 80px;
}

.img-key-partner {
    vertical-align: middle;
    border-style: none;
    width: 250px !important;
    height: 200px !important;
    margin-top: 80px;
}