html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.image-size {
    width: 300px;
    height: 400px;
}


.img-key-partner {
    vertical-align: middle;
    border-style: none;
    width: 250px !important;
    height: 300px !important;
    margin-top: 80px;
}

.mediaImages {
    width: 345px;
    height: 260px;
    opacity: 0.8;
}

    .mediaImages:hover {
        opacity: 1;
        border: 3px solid #450000;
    }

.servicesImages {
    width: 547px;
    height: 387px;
    opacity: 0.8;
}

    .servicesImages:hover {
        opacity: 1;
        border: 3px solid #450000;
    }
